<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Contact Us</title>
</head>
<body>
    <h1 align="center">Details</h1>
    <br>
    <br>
    <form action="/contact" method="post">
 <table align="center" cellpadding="12">
   <tr><td><label>Username:</label></td><td><input type="text" name="usr" placeholder="Enter Username"></td></tr>
   <tr><td><label>Age:</label></td>
      <td> <input type="number" name="no" placeholder="Enter Age" oninput="validity.valid||(value='');" ></td></tr>
       <tr><td><label>Password:</label></td>
      <td><input type="password" name="pass" placeholder="Enter password" ></td></tr>
      <tr><td><label>Password:</label></td> <td><input type="password" name="repass" placeholder="Re-enter password" ></td></tr>
       </table>
       <br>
       <br>

    <center><input type="submit" class="btn btn-info"   name="submit" value="ClickMe"></center>   
   </form>
   </body>
   </html>